{% extends "base.html" %}

{% block content %}
    <h2>Выберите категорию для характеристик</h2>
    <form method="post" action="/products/category/characteristics">
        <label for="category_name">Категория:</label>
        <select name="category_name" id="category_name">
            {% for category in categories %}
            <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn">Показать характеристики</button>
    </form>
    {% if characteristics %}
    <h2>Характеристики товаров в категории: {{ category_name }}</h2>
    <ul>
        {% for characteristic in characteristics %}
        <li>{{ characteristic }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
